# Loading BOQ Excel Data

This notebook loads and processes the BOQ (Bill of Quantities) Excel file.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import os

# Display current working directory
print(f"Current working directory: {os.getcwd()}")

Current working directory: c:\Work\Sync\AR3D\3 Web\app611allboq\py

In [2]:
# Define the path to the Excel file
excel_file = 'bq.xlsx'

# Load the Excel file into a pandas DataFrame
try:
    df = pd.read_excel(excel_file)
    print(f"Successfully loaded {excel_file}")
    print(f"Shape: {df.shape}")
    # Display the first few rows of the DataFrame
    display(df.head())
except Exception as e:
    print(f"Error loading {excel_file}: {e}")
    # Try with an alternative path
    try:
        excel_file = '../py/bq.xlsx'
        df = pd.read_excel(excel_file)
        print(f"Successfully loaded {excel_file}")
        print(f"Shape: {df.shape}")
        # Display the first few rows of the DataFrame
        display(df.head())
    except Exception as e2:
        print(f"Error loading with alternative path: {e2}")

Successfully loaded bq.xlsx
Shape: (595, 7)

,Unnamed: 0,รายการ,จำนวน,หน่วย,ราคาวัสดุ,ค่าแรงงาน,Unnamed: 6
0,โรงอาหาร,งานรื้อถอนและเตรียมพื้นที่,NaN,NaN,NaN,NaN,2020.0
1,NaN,รื้อถอนโครงสร้างพื้น คาน เสา,1,ตร.ม.,-,250,2020.0
2,NaN,รื้อถอนเสาโครงสร้าง,1,ต้น,-,1000,2020.0
3,NaN,รื้อถอนโครงสร้างหลังคา,1,ตร.ม.,-,50,2020.0
4,NaN,รื้อถอนวัสดุมุง,1,ตร.ม.,-,25,2020.0

In [3]:
# Basic data exploration
if 'df' in locals():
    print("DataFrame information:")
    display(df.info())
    
    print("\nDataFrame statistics:")
    display(df.describe())
    
    print("\nColumn names:")
    display(df.columns.tolist())

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  87 non-null     object
 1   รายการ      567 non-null    object
 2   จำนวน       446 non-null    object
 3   หน่วย       444 non-null    object
 4   ราคาวัสดุ   430 non-null    object
 5   ค่าแรงงาน   353 non-null    object
 6   Unnamed: 6  591 non-null    float64
dtypes: float64(1), object(6)
memory usage: 32.7+ KB

None

DataFrame statistics:

        Unnamed: 6
count   591.000000
mean   2226.397631
std     265.365171
min    2020.000000
25%    2020.000000
50%    2020.000000
75%    2567.000000
max    2567.000000

Column names:

['Unnamed: 0',
 'รายการ',
 'จำนวน',
 'หน่วย',
 'ราคาวัสดุ',
 'ค่าแรงงาน',
 'Unnamed: 6']

In [4]:
# Check for NaN or empty values in the DataFrame
if 'df' in locals():
    # Count NaN values in each column before replacement
    nan_count_before = df.isna().sum()
    print("NaN count before replacement:")
    display(nan_count_before)
    
    # Count empty string values in each column before replacement
    empty_count_before = (df == '').sum()
    print("\nEmpty string count before replacement:")
    display(empty_count_before)
    
    # Replace NaN and empty strings with '-'
    df_clean = df.fillna('-')  # Replace NaN values with '-'
    
    # Replace empty strings with '-'
    for column in df_clean.columns:
        # Check if the column is of object dtype (string/object columns)
        if df_clean[column].dtype == 'object':
            df_clean[column] = df_clean[column].apply(lambda x: '-' if x == '' else x)
    
    print("\nDataFrame after replacing NaN and empty values with '-':")
    display(df_clean.head())
    
    # Verify no NaN values remain
    nan_count_after = df_clean.isna().sum()
    print("\nNaN count after replacement:")
    display(nan_count_after)

NaN count before replacement:

Unnamed: 0    508
รายการ         28
จำนวน         149
หน่วย         151
ราคาวัสดุ     165
ค่าแรงงาน     242
Unnamed: 6      4
dtype: int64

Empty string count before replacement:

Unnamed: 0    0
รายการ        0
จำนวน         0
หน่วย         0
ราคาวัสดุ     0
ค่าแรงงาน     0
Unnamed: 6    0
dtype: int64

DataFrame after replacing NaN and empty values with '-':

,Unnamed: 0,รายการ,จำนวน,หน่วย,ราคาวัสดุ,ค่าแรงงาน,Unnamed: 6
0,โรงอาหาร,งานรื้อถอนและเตรียมพื้นที่,-,-,-,-,2020.0
1,-,รื้อถอนโครงสร้างพื้น คาน เสา,1,ตร.ม.,-,250,2020.0
2,-,รื้อถอนเสาโครงสร้าง,1,ต้น,-,1000,2020.0
3,-,รื้อถอนโครงสร้างหลังคา,1,ตร.ม.,-,50,2020.0
4,-,รื้อถอนวัสดุมุง,1,ตร.ม.,-,25,2020.0

NaN count after replacement:

Unnamed: 0    0
รายการ        0
จำนวน         0
หน่วย         0
ราคาวัสดุ     0
ค่าแรงงาน     0
Unnamed: 6    0
dtype: int64

In [5]:
# Save the cleaned DataFrame to a new Excel file (optional)
if 'df_clean' in locals():
    output_file = 'bq_cleaned.xlsx'
    df_clean.to_excel(output_file, index=False)
    print(f"Cleaned data saved to {output_file}")

Cleaned data saved to bq_cleaned.xlsx